@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #001405;
  --darker-green: #000a03;
  --grey: #C7C9C8;
  --green: #48D967;
  --green2: hsl(133, 66%, 45%);
  --red: #CF1B30;
  --pink: #FFA8B2;
}

body {
  background: var(--darker-green);
  background: repeating-linear-gradient(
    90deg,
    var(--darker-green) 5px,
    var(--dark-green) 50px,
    var(--darker-green) 55px,
    var(--dark-green) 80px
  );
  color: var(--grey);
  max-width: 700px;
  padding: 0 50px 0 50px;
  margin: auto;
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}

a {
  color: var(--green);
  text-decoration-color: var(--green);
}

li a {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

a > i {
  content: url(link-icon.svg);
}

a:hover {
  color: var(--pink);
}

li {
  margin-bottom: 20px;
}

h1 {
  margin: 10px 0;
  padding: 20px 0;
  background-color: #48d9672b;
  border-radius: 10px 10px 0 0;
}

h1:hover {
  background-color: var(--green);
  color: var(--darker-green);
}

footer {
  border-radius: 0 0 10px 10px;
  background-color: #00000070;
  padding: 20px;
}

footer:hover {
  background-color: var(--grey);
}

footer:hover * {
  color: var(--darker-green);
  text-decoration-color: var(--darker-green);
}

header {
  margin: 30px 0;
  text-align: center;
}

header > p {
  font-style: italic;
}

main {
  max-height: calc(100vh - 120px - 150px);
  min-height: 250px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  border: 1px double var(--grey);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, transparent, var(--green), transparent);
  border-radius: 5px;
  min-height: 20px;
}

ul {
  padding-left: 50px;
  list-style-image: radial-gradient(var(--red), var(--pink));
}

html, body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

h1, footer {
  cursor: pointer;
  transition: all 0.2s linear;
}

aside {
  position: absolute;
  top: 0;
  right: -350px;
  width: 300px;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--green2);
  color: var(--darker-green);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

aside.open {
  right: 0px;
}

aside ul {
  padding-left: 25px;
}

aside h2 {
  margin: 1rem 0;
}

.toggle-message {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 50%;
  overflow: hidden;
}

svg.icon {
  fill: var(--green2);
  background: var(--darker-green);
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.icon.bulb {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 31px;
  right: 10px;
  padding: 20px;
}

.icon.bulb:hover {
  fill: var(--darker-green);
  background-color: var(--green2);
}

.icon:not(.bulb) {
  position: relative;
  left: -45px;
  top: 10px;
  padding: 5px;
  fill: var(--darker-green);
  background-color: var(--green2);
}

.icon:not(.bulb):hover {
  fill: var(--green2);
  background: var(--darker-green);
  border: 2px solid var(--green2);
}

@media (max-width: 480px) {
  .icon.bulb {
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
    padding: 15px;
  }
  
  .icon:not(.bulb) {
    left: 0px;
    border: 2px solid var(--darker-green);
  }

  .icon:not(.bulb):hover {
    border: 0;
  }

  h1 {
    font-size: 1.6rem;
  }

  body {
    padding: 5px;
  }
}
