@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #001405;
  --grey: #C7C9C8;
  --green: #48D967;
  --red: #CF1B30;
  --pink: #FFA8B2;
}

body {
  background-color: var(--dark-green);
  color: var(--grey);
  max-width: 800px;
  padding: 0 50px 0 50px;
  margin: auto;
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}

a {
  color: var(--green);
  text-decoration-color: var(--green);
}

li a {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

a > i {
  content: url(link-icon.svg);
}

a:hover {
  color: var(--pink);
}

li {
  margin-bottom: 20px;
}

h1 {
  margin: 50px 0 50px 0;
}

footer {
  background: #000;
  padding: 20px;
}