@import url(import.css);

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --DarkCyan: hsl(158, 36%, 37%);
  --DarkerCyan: hsl(158, 36%, 20%);
  --Cream: hsl(30, 38%, 92%);
  --VeryDarkblue: hsl(212, 21%, 14%);
  --DarkGreyishBlue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  color: var(--DarkGreyishBlue);
  background-color: var(--Cream);
  font-family: 'Montserrat';
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  width: 600px;
  height: 450px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
}

.card > * {
  width: 50%;
}

.card .details {
  border-radius: 0 10px 10px 0;
  background-color: var(--White);
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card .description {
  line-height: 25px;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price del {
  margin: auto;
}

.price .current {
  font-family: 'Fraunces';
  font-size: 36px;
  color: var(--DarkCyan);
}

.details > h1 {
  color: black;
  font-family: 'Fraunces';
  font-size: 36px;
  line-height: 100%;
}

.title {
  letter-spacing: 10px;
}

button {
  color: var(--White);
  background-color: var(--DarkCyan);
  border: unset;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

button i {
  content: url(../images/icon-cart.svg);
  margin-right: 10px;
  margin-bottom: -2px;
}

button:hover, button:focus {
  background: var(--DarkerCyan);
}

@media screen and (max-width: 768px) {
  .card {
    display: block;
    max-width: 360px;
    height: fit-content;
  }

  .details > h1, .price .current {
    font-size: 32px;
  }

  .card > * {
    width: 100%;
  }

  .card .details {
    border-radius: 0 0 10px 10px;
  }

  img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  .card .details {
    min-height: 400px;
  }
}
